{% extends 'core/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <style>

    </style>
</head>
<body>
    {% block content %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static\asset\images\download.png" class="d-block w-100 h-50" data-bs-interval="1000" alt="banner images" >
              </div>
              <div class="carousel-item">
                <img src="static\asset\images\electronics.png" class="d-block w-100 h-50" data-bs-interval="1000"  alt="banner images">
              </div>
              <div class="carousel-item">
                <img src="static\asset\images\bag.png" class="d-block w-100 h-50" alt="banner images">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        
    </header>
    <section class="product">
        <h2 class="product-category">best selling</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in best_selling_products %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
                
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">New Arrivals</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in new_arrivals %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

    

        <h2 class="product-category">Grocery</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Grocery %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">Books</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Books %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">Camera</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Camera %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">Shoes</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Shoes %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">Clothes</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Clothes %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        <h2 class="product-category">Furniture</h2>
        <div class="product-slider">
            <img src="static\asset\images\arrow.png" alt="left-arrow" class="left-arrow">
            <div class="product-container">
                {% for product in Furniture %}
                <a href="{% url 'core:product_detail' product.id %}">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image }}" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{ product.name }}</h2>
                        <p class="product-short-des">{{ product.description }}</p>
                        <span class="price">${{ product.price }}</span>
                    </div>
                    <a href="{% url 'core:add_to_cart' product.id %}"><button class="card-btn">add to wishlist</button></a>
                </div>
                </a>
                {% endfor %}
            </div>
            <img src="static\asset\images\arrow.png" alt="arrow" class="right-arrow">
        </div>

        



    </section>
    <footer data-logo-url="{% static 'asset/images/e-commerce logo.jpeg' %}"></footer>

    <script src="{% static 'asset/js/script.js' %}"></script>
    {% endblock %}
</body>
</html>
